<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the Document title</title>
</head>
<body>
    <h1>HEADING one 1</h1>
    <h2>Heading two </h2>
    <h3>Heading three</h3>
    <h6>heading six</h6>

    <p>here is some test</p>
    <p>here is some more text</p>
    <p>even more text</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet sunt nobis, minima aperiam fuga quas. Totam molestias, veniam ab accusantium nisi recusandae! Fugiat a explicabo culpa aspernatur pariatur asperiores?</p>

    <p>New semantics <strong>inside strong</strong> strong and <em>emphasis</em> </p>


    <ol>
        <li>federer</li>
        <li>second nadal</li>
        <li>djocokovic</li>
    </ol>

    <ul>
        <li>Macenroe</li>
        <li>Gasquet</li>
        <li>walrinka</li>
    </ul>

    <ol>
        <li>item one</li>
        <li>item two</li>
        <ul>
            <li>I am nested</li>
            <li>I am also nested</li>
            <ol>
                <li>inception nested</li>
            </ol>
        </ul>
    </ol>

    <div class ="">

        <h1>heading 1 test</h1>
        <p>some stuff</p>

    </div>

    <p>here is <span class='myclass'> some text</span> some text wooohoo</p>


</body>
</html>